#app {
  padding: 50px 15px 75px;
  font-family: Arial;
}

.header__logo, .footer {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  font-size: 30px;
  color: pink;
  background: black;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s;
}

.header__logo:hover {
  color: white;
  text-decoration: none;
}

#loader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

#loader.hide {
  display: none;
}

.author__name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.post__video {
  text-align: center;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.avatar--thumb img {
  width: 100px;
  height: 100px;
}

.user__info-text {
  width: calc(100% - 115px);
}


/* hashtags styles */
.hashtags {
  padding: 0;
}

.hashtags li {
  margin: 0 10px 5px 0;
  display: inline-block;
  background-color: lightblue;
  color: white;
  padding: 5px 10px;
}

.hashtags li::before {
  content: "#";
}




/* footer styles */
.footer {
  top: initial;
  bottom: 0;
}

.footer__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.footer__navigation li {
  margin: 0 10px;
}

.footer__navigation li:not(.active) {
  opacity: 0.5;

}

.footer__navigation li a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: pink;
  font-size: 20px;
}

.footer__navigation li a span:nth-child(2) {
  display: block;
}