/* app container styles */
#app {
  padding: 50px 15px 75px;
  font-family: Arial;
}

/* header (and little footer) styles */
.header__logo,
.footer {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  font-size: 30px;
  color: pink;
  background: black;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s;
}

.header__logo:hover {
  color: white;
  text-decoration: none;
}

/* loader styles */
#loader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

#loader.hide {
  display: none;
}

/* author styles */
.author__name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

/* post styles */
.post__video {
  text-align: center;
}

/* avatar styles */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.avatar--thumb img {
  width: 100px;
  height: 100px;
}

/* user styles */
.user__info-text {
  width: calc(100% - 115px);
}

/* hashtags styles */
.hashtags {
  padding: 0;
}

.hashtags li {
  margin: 0 10px 5px 0;
  display: inline-block;
  background-color: lightblue;
  color: white;
  padding: 5px 10px;
}

.hashtags li::before {
  content: "#";
}

/* user video styles */
#user-videos {
  display: flex;
  flex-wrap: wrap;
}

.user__video {
  width: calc(33% - 10px);
  padding: 5px;
}

.user__video:hover .user__video-counter {
  background-color: rgba(0, 0, 0, 0.75);
}

.user__video-inner {
  position: relative;
  height: 250px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .user__video-inner {
    height: 100px;
  }
}

.user__video-thumbnail {
  width: 100%;
  height: 100%;
}

.user__video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__video-counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: background-color 0.3s;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .user__video-counter {
    font-size: 16px;
  }
}

/* footer styles */
.footer {
  top: initial;
  bottom: 0;
}

.footer__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.footer__navigation li {
  margin: 0 10px;
}

.footer__navigation li:not(.active) {
  opacity: 0.5;
}

.footer__navigation li a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: pink;
  font-size: 20px;
}

.footer__navigation li a span:nth-child(2) {
  display: block;
}
